<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Austin Fay</title>
    <link rel="stylesheet" href="/styles/global.scss" />
    <link rel="stylesheet" href="/styles/blog-post.scss" />
  </head>
  <body>
    <main>
      <header>
        <h1>{{title}}</h1>
        <h5><span class="normal-weight">Published on</span> <time>{{datePublished}}</time></h5>
      </header>
      <article>
        {{{content}}}
      </article>
    </main>
    <script type="module" src="/scripts/prism.ts"></script>
  </body>
</html>