<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Start Open Web Analytics Tracker -->
    <script type="text/javascript">
      //<![CDATA[
      var owa_baseUrl = 'https://analytics.austinfay.com/';
      var owa_cmds = owa_cmds || [];
      owa_cmds.push(['setSiteId', '8971c79f5fff28491209f91174a0c5b6']);
      owa_cmds.push(['setPageType', 'blog-post']);
      owa_cmds.push(['trackPageView']);
      owa_cmds.push(['trackClicks']);
      owa_cmds.push(['trackDomStream']);

      (function() {
          var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
          owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
          _owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
          var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
      }());
      //]]>
    </script>
    <!-- End Open Web Analytics Code -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Austin Fay</title>
    <link rel="stylesheet" href="/styles/global.scss" />
    <link rel="stylesheet" href="/styles/blog-post.scss" />
    <link rel="icon" href="/images/austin-headshot.jpg" />
  </head>
  <body>
    <main>
      <header>
        <h1>{{title}}</h1>
        <h5><span class="normal-weight">By Austin Fay on</span>
          <time>{{datePublished}}</time></h5>
      </header>
      <article>
        {{{content}}}
      </article>
    </main>
    <script type="module" src="/scripts/prism.ts"></script>
  </body>
</html>