<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-X1BBDFZQQ6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []; function
      gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
      'G-X1BBDFZQQ6');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} | Austin Fay</title>
    <link rel="stylesheet" href="/styles/global.scss" />
    <link rel="stylesheet" href="/styles/blog-post.scss" />
    <link rel="icon" href="/images/austin-headshot.jpg" />
  </head>
  <body>
    <main>
      <header>
        <h1>{{title}}</h1>
        <h5><span class="normal-weight">By Austin Fay on</span>
          <time>{{datePublished}}</time></h5>
      </header>
      <article>
        {{{content}}}
      </article>
    </main>
    <script type="module" src="/scripts/prism.ts"></script>
  </body>
</html>