#article-single-page {

    display: grid;
    grid-template-columns: 1fr 3fr 2fr;

    @media only screen and (max-width: 1200px) {
        grid-template-columns: 0 2fr 1fr;
    }

    @media only screen and (max-width: 768px) {
        grid-template-columns: auto;

        .toc {
            grid-row: 1 / 2;
            aside {
                margin: 20px auto;
            }
        }
    }

    header {
        padding: 20px;

        h1 {
            color: $primary;
        }
        
        h5 {
            color: $tertiary;
            font-weight: bold;
        }
    }

    article {
        padding: 0 20px;

        h1 {
            color: $secondary;
        }
    }

    aside {
        width: 80%;
        margin: 20% auto;
        padding: 10px;
        position: sticky;
        top: 10%;
        @include shadowed_border($secondary);
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            @include text-glow($primary);
        }
    }

    .grid-item {
        .video-wrapper {
            position: relative;
            padding-bottom: 56.5%;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

}
