#series-index {

    padding: 20px;

}
.series-item {
    
    text-align: center;

    > h1 {
        color: $primary;
        padding: 0 10px;
    }

    > img {
        width: 100%;
    }
}