{{ define "main" }}
<div id="article-single-page">
    <div class="grid-item"></div>
    <div class="grid-item">
        <header>
            <h1>{{ .Title }}</h1>
            <h5>
                <time>{{ .Date.Format "January 2, 2006" }}</time><br>
                <div>Written by: {{ .Params.author }}</div>
            </h5>
            <div>{{ .WordCount }} words, {{.ReadingTime}} minutes to read</div>
        </header>
        {{ with .Params.ytID }}
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/{{ . }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {{ end }}
        <article>
            {{ .Content }}
        </article>
    </div>
    <div class="grid-item toc">
        <aside>
            <h3>Table of Contents</h3>
            {{ .TableOfContents }}
        </aside>
    </div>
</div>
{{ end }}