{{ $page := .Site.GetPage (.Get "ref") }}

{{ $type := "Episode" }}
{{ if .Get "type" }}
    {{ $type = .Get "type" }}
{{ end }}

<div class="featured-ep-comp">
    <div class="ep-meta">
        <h4>Featured {{ $type }}</h4>
        <a href="{{ $page.Permalink }}">
            <h1>{{ $page.Title }}</h1>
        </a>
        <time>{{ $page.Date.Format "January 2, 2006" }}</time>
        <p>{{ $page.Description }}</p>
        <a href="{{ $page.Permalink }}" class="green-link">View {{ $type }}</a>
    </div>
    {{ if $page.Params.ytID }}
        <div class="ep-image">
            <img src="https://img.youtube.com/vi/{{ $page.Params.ytID }}/hqdefault.jpg" alt="{{ $page.Title }}">
        </div>
    {{ end }}
    
</div>