@mixin text-glow($color) {
    color: $color;
    text-shadow: 0px 0px 5px $color, 0px 0px 5px $color;
}

@mixin shadowed_border($color) {
    border: 2px solid $color;
    -webkit-box-shadow: 0px 0px 5px 1px $color;
    -moz-box-shadow: 0px 0px 5px 1px $color;
    box-shadow: 0px 0px 5px 1px $color;
}