#series-page {

    > h2 {
        text-align: center;
    }

    .series-item {

        width: 100%;
        border: none;
        text-align: center;

        p {
            width: 80%;
            margin: auto;
        }
    }
}