$primary_m2: #022c43;
$secondary_m2: #114600;
$tertiary_m2: #1c1c1c;

$primary_m1: #045987;
$secondary_m1: #238d00;
$tertiary_m1: #202020;

$primary:   #1CABF9;
$secondary: #33CC00;
$tertiary:  #707070;

$primary_p1: #77cdfb;
$secondary_p1: #8cff66;
$tertiary_p1: #b8b8b8;

$primary_p2: #a4ddfd;
$secondary_p2: #c6ffb3;
$tertiary_p2: #dbdbdb;
