.greeting-comp {
    background-image: url('/site-assets/components/greeting/greeting-bg.svg');
    background-position: center;
    background-size: 120%;
    // height: 100%;
    height: auto;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .jumbo-msg {
        font-size: 36pt;
        margin: 0;
    }

    .long-msg {
        width: 50%;
        margin: 0 auto;
        padding: 0 10px;
    }

    .cta {
        margin: 20px;

        a {
            border: 2px solid $secondary;
            background: $secondary;
            padding: 10px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }

        a:hover {
            @include shadowed_border($secondary);
        }
    }

    .scroll-down-desc {
        @include text-glow($primary);
    }

    @media only screen and (max-width: 768px) {
        .jumbo-msg {
            font-size: 12pt;
            margin: 10px;
        }

        .long-msg {
            // font-size: 10pt;
            width: 90%;
        }
    }
}